<div class="h-[100vh] w-[100vw] flex items-center justify-center">
  <div class="shadow-lg h-[500px] flex flex-col justify-center">
    <form class="text-left px-20 flex flex-col gap-10" action="">
      <h2 class="text-blue-500 text-2xl font-bold">Login</h2>
      <input
        placeholder="Email"
        class="h-10 border-2 px-5 rounded-lg"
        type="text"
      />
      <input
        type="password"
        placeholder="Password"
        class="h-10 border-2 px-5 rounded-lg"
        type="text"
      />
      <button class="bg-blue-500 w-96 h-12 text-white mt-5 mb-10" type="submit"
        >Login</button
      >
    </form>
    <a href="/register" class="text-center"
      >Don't you have an account? <span
        class="text-purple-500 cursor-pointer underline">Register</span
      ></a
    >
  </div>
</div>
