@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    scroll-behavior: smooth;
    @apply bg-gray-100;
  }

  #toolbar {
    @apply md:h-[44px] border-0 !important;
  }

  .quill {
    @apply h-[300px];
  }

  .quill .ql-container {
    @apply rounded-md !important;
  }

  .quill .ql-editor:before {
    @apply text-slate-500 text-base leading-6 not-italic !important;
  }

  .search-bar .wrapper ul li svg {
    @apply hidden;
  }

  .search-bar .wrapper ul {
    @apply space-y-[5px] pb-0;
  }

  .search-bar .wrapper ul li.selected {
    @apply bg-transparent !important;
  }

  .search-bar .wrapper ul li .result-wrapper svg {
    display: block !important;
  }
  .result-wrapper {
    padding: 8px;
  }
  .wrapper input {
    outline: none !important;
    border-bottom: none;
    box-shadow: none !important;
  }
  .new-forum-input {
    outline: none !important;
  }
  @media only screen and (max-width: 600px) {
    .content img{
      max-width: 85vw;
     
    }
    .content * {
      width: 90vw;
    }
  }
 
}
