---
import HeaderLink from "./HeaderLink.astro";
---

<header class="bg-white-400 py-10 flex justify-between shadow-lg items-center">
  <img class="hidden md:block" src="
	" alt="" />

  <nav class="flex gap-10 pl-10 md:pl-40">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink target="”_blank”" href="https://altogic.com/">
      Altogic
    </HeaderLink>
    <HeaderLink target="”_blank”" href="https://astro.build/">Astro</HeaderLink>
  </nav>

  <div class="flex items-center gap-8 mr-16">
    <a
      class="inline-flex items-center justify-center flex-shrink-0 w-10 h-10 rounded-full text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 bg-blue-600 hover:bg-blue-700"
      href="/write-a-story"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
        ></path>
      </svg>
    </a>
  </div>
</header>
